# === OMDb API inställningar ===
# Lägg in API nyckel här.
OMDB_API_KEY=DIN_API_NYCKEL_HÄR

# Söksträng för filmer (kan ändras)
SEARCH_QUERY=Batman

# === SQLite inställningar ===
# Standard: SQLite-fil i data mapp i projekt mapp
DATABASE_URL= # Här sätter du absolute filepath på DIN dator för vart /data/etl.db hamnar -
# - med prefix "sqlite:///" t.ex. "sqlite:///C:/Users/Janne/Documents/kunskapskontroll/data/etl.db"

# === Loggning ===
# Alla loggar sparas i projektets data/logs/
LOG_DIR=data/logs
LOG_FILE=app.log
