# Ignore everything by default
*

# Re-allow traversing directories (so we can match files inside)
!*/

# Keep Python files anywhere
!*.py

# Keep .gitignore itself
!.gitignore

# Keep README
!README.MD
!README.md